/* common css  */
*,
::before,
::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

header {
    background-color: #3C4C6A;

}

.container {
    max-width: 1170px;
    width: 100%;
    padding: 0 15px;
    margin: 0 auto;

}

/* Header CSS  */
.inner_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo_area {
    font-family: sans-serif;
    color: white;
    font-weight: 500;
    text-transform: uppercase;
    font-size: 30px;
    line-height: 2;
}

nav ul {
    display: flex;

}

nav ul li {
    padding: 21px;
    position: relative;
   


}




nav ul li a {
    font-family: sans-serif;
    color: white;
    font-weight: 400;
    text-transform: uppercase;
    transition: 0.3s;


}

nav ul li:hover ul{
    left: 0px;
}
nav ul li:hover ul{
    left: 0px;
}
nav ul li:hover ul ul{
    left: -99999px;
}
nav ul li:hover ul ul ul{
    left: -99999px;
}



nav ul ul li:hover ul {
    left: 120px;
    top: 0px;
}
nav ul ul ul li:hover ul {
    left: 120px;
    top: 0px;
}



nav ul li:hover a{
    color: orange;
}
nav ul li:hover ul li a{
    color: white;
}

nav ul li ul li:hover{
    background: red;
    
}






/* dropdown  css */

nav ul li ul{
    flex-direction: column;
    position: absolute;
    background: black;
    top:57px;
    /* left: 0px; */
    left: -9999px;
    width: 120px;

}

/* three level drop down  */
 nav ul ul ul{
    left: -9999px;
    top: 0px;
} 

nav ul ul ul ul{
    left: 120px;
    top: 0px;
} 














